body {
    font-family: sans-serif;
    margin: 2em;
    background-color: #f9f9f9;
}

form {
    margin-bottom: 2em;
    padding: 1em;
    background-color: #fff;
    border: 1px solid #ccc;
}

label {
    display: block;
    margin: 0.5em 0;
}
